<!-- TODO: place directive call here -->
<ion-content has-header padding scroll="true" class="retirement-tool">
    <h1>Retirement tool</h1>
    <p> What kind of life would you like to lead when you\'ve said goodbye to the 9-to-5? Create a vision of your ideal retirement and we\'ll give you an idea of how much money you\'ll need to fund it. </p>
    <div class="list">
        <div class="item energized-bg" style="text-align: center;">
            <p class="subdued italic">To fund the lifestyle you\'ve just chosen, you\'ll need:</p>
            <h1 class="light">{{itemsTotal | currency : \'£\' : 0}}</h1>
            <p style="color:white;">per year before tax</p>
        </div>
        <ul class="list item-text-wrap">
            <li class="item stable-bg item-checkbox" ng-repeat="item in items" ng-click="refresh();">
                <label class="checkbox">
                    <input type="checkbox" ng-model=item.checked>
                </label> {{item.name}}
                <img src={{item.image}}/>
            </li>
        </ul>
</ion-content>
