<div ng-controller='HomeCtrl'>	
	<!-- TODO: place directive call here -->


<ul class="list">

  <li class="item item-toggle">
     HTML5
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <li class="item item-toggle">
     Javascript
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

</ul>


<ion-list>


  <ion-checkbox ng-model="filter.blue">Basic living costs</ion-checkbox>
  <ion-checkbox ng-model="filter.yellow">2 weeks holiday each year</ion-checkbox>
  <ion-checkbox ng-model="filter.pink">4 weeks in the sun each winter</ion-checkbox>

  <ion-checkbox ng-model="filter.blue">A car + 5 yearly upgrade</ion-checkbox>
  <ion-checkbox ng-model="filter.yellow">Helth club membership</ion-checkbox>
  <ion-checkbox ng-model="filter.pink">A concert, play or show once a month</ion-checkbox>

  <ion-checkbox ng-model="filter.blue">Weekly dinner or drinks with friends</ion-checkbox>
  <ion-checkbox ng-model="filter.yellow">Shopping trips with you + family</ion-checkbox>
  <ion-checkbox ng-model="filter.pink">Home improvements</ion-checkbox>

</ion-list>

</div>